@import "../../sass/importVariables.scss";

.container{
  max-width: 90%;

  .headline-text{
    @include font-styles($second-font, 3rem ,$font-color);  // font config
    @include font-gradient(90deg , #785A28, 0%, #C89B3C, 100%) // gradient
  }
}

.error-block{
  @include font-styles($main-font, 1rem ,$font-color);  // font config
}

.expand-champions-button{
  width: 11rem;
  height: 2.75rem;
  background-color: $btn-color;
  @include font-styles($main-font, 1rem ,#fff);
  vertical-align: middle;
}

@media (max-width: 425px) {
  .expand-champions-button{
    font-size: .9rem;
    width: 9rem;
    height: 2.75rem;
  
  }
}