<div id="App">
  <app-header (searchChampionsByTypeResponse)="onSearchChampionsByTypeResponse($event)" [allChampionsArray]="allChampions" [currentPage]="'home'"></app-header>
  <div class="container d-flex flex-column align-items-center py-4">
    <h2 class="headline-text text-center mb-4">Lol Info</h2>
    <app-loader *ngIf="!championsToShow && !getError; else getResponseError"></app-loader>
    <ng-template #getResponseError>
      <div class="error-block" *ngIf="getError; else championsToShowBlock">
        <p>
          Problemas ao renderizar arquivos, tente novamente mais tarde
        </p>
      </div>
    </ng-template>
    <ng-template #championsToShowBlock>
      <app-champion-block  *ngIf="championsToShow.length > 0" [championsToShow]="championsToShow" [renderLimit]="renderLimit"></app-champion-block>
      <button class="btn btn-primary mx-auto expand-champions-button" (click)="expandChampionsArray()">
        More champions
      </button>
    </ng-template>
</div>
</div>
