@import "../../sass/importVariables.scss";

.header{
  width: 100%;
  height: 7rem;
  background-color: $main-color;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;

  #return-to-home-page{
    border-color: $second-color;
    cursor: pointer;
    @include font-styles($main-font, 2.2rem ,$bg-color);
    &:hover{
      color: $second-color;
    }
    color: $second-color;
  }

  .navbar{ // nav bar config
    height: 100%;
    width: 90%;
    
    .search-champs{ // search input div config
      position: relative;
      .search-button{ // Search button
        font-size: 1.2rem; // using bootstrap icons, and because of it i manipulate the magnifying glass icon like a text 
      }

      .search-champs-input{ // Input area config
        width: 24.125rem;
        height: 2.5rem;
        border-radius: 1.25rem;
        background-color: $second-color;
        border: none;
      }
    }

    .search-results{
      position: absolute;
      top: 95%;
      left: 1rem;
      width: 75%;
      max-height: 15rem;
      overflow-y: auto;
      overflow-x: hidden;
      background-color: $box-color;
      .result.row{
        cursor: pointer;
        img{
          height: 2.5rem;
        }

        span{
          @include font-styles($main-font, 1rem ,$font-color);
        }
      }
    }
  }

  .logo{ // site logo
    width: 5rem;
    height: 5rem;
    cursor: pointer;
  }
}

@media (min-width: 1441px) {
  .header{
    height: 8rem;
  }
  #return-to-home-page{
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .header{
    .navbar{
      .search-champs{
        
        .search-button{
          font-size: 1rem;
          padding: .2rem .5rem ;
        }
  
        .search-champs-input{
          width: 18rem;
          height: 2.3rem;
        }

        .search-results{
          width: 70%;
          .result.row{
            img{
              width: 25%;
              height: 2.25rem;
            }
            span{
              width: 75%;
              @include font-styles($main-font, 1rem ,$font-color);
            }
          }
        }
      }
      
    }
  
    .logo{
      width: 4rem;
      height: 4rem;
    }
  }
}

@media (max-width: 576px) {
  .header{
    height: 8rem;
    .navbar{
      position: relative;

      .search-champs{
        position: relative;
        background-color: $main-color;
        .search-button{
          font-size: 1.1rem;
          padding: .2rem .5rem ;
        }
  
        .search-champs-input{
          position: absolute;
          width: 0;
          overflow: hidden;
          visibility: hidden;
          height: 2rem;
          right: 1.3rem;
          top: 2.7rem;
          transition: .3s;
        }

        #champs-input.active{
          visibility: visible;
          width: 18rem;
        }

        .search-results{
          min-width: 16.5rem;
          left: 0;
          transform: translateX(-90%);
          top: 215%;
        }
      } 
    }
  }
}

@media (max-width: 425px) {
  .header{
    .navbar{
      .search-champs{
        #champs-input.active{
          width: 14rem;
        }

        .search-results{
          min-width: 12.5rem;
          transform: translateX(-85%);
          max-height: 12rem;
          .result.row{
            img{
              width: 25%;
              height: 1.75rem;
            }
            span{
              width: 75%;
              font-size: .9rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {

  #return-to-home-page{
    font-size: 2rem;
  }
}