@import "../../../sass/importVariables.scss";

.loading-div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  z-index: 1050;
  background-color: #2222227a;
  .loading-message{
    place-items: center;
    width: 100%;
    height: 100%;
    cursor: default;
    @include font-styles($main-font, 2.5rem ,$font-color);
    
    .loading-dots-animation{
      &:nth-child(2){
        margin-left: .25rem;
        animation: dotsOpacityAnimation 1.5s infinite ease-in-out .5s;
        font-size: 3rem;
        margin-bottom: .5rem;
      }
      &:nth-child(3){
        font-size: 3rem;
        margin-bottom: .5rem;
        animation: dotsOpacityAnimation 1.5s infinite ease-in-out .6s;

      }
      &:nth-child(4){
        font-size: 3rem;
        margin-bottom: .5rem;
        animation: dotsOpacityAnimation 1.5s infinite ease-in-out .8s;

      }
    }
  }
}

@keyframes dotsOpacityAnimation {
  0%{
    opacity: 1;
    transform: translateY(0);

  }
  50%{
    opacity: 1;
    transform: translateY(-.5rem);

  }
  100%{
    opacity: 0;
    transform: translateY(0);

  }
}

@keyframes dotsUpAndDownAnimation {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-1rem);
  }
  100%{
    transform: translateY(0);
  }
}