@import "../../sass/importVariables.scss";

.error-block{
  @include font-styles($main-font, 1rem ,$font-color);  // font config
  text-align: center;
  margin-top: 3rem;
}

.headline-text{
  @include font-styles($second-font, 3rem ,$font-color);  // font config
  @include font-gradient(90deg , #785A28, 0%, #C89B3C, 100%) // gradient
}

.d-grid{
  grid-template-columns: repeat(2,1fr);
  .champ-main-info{
    background-color: $box-color;
    max-width: 100%;
    // grid to maniluplate the elements more easily

    #champ-img{ // Champ image
      width: 9rem;
      height: 9rem;
      background-size: cover;
      box-shadow:  .1rem .1rem 1rem $main-color;    
    }
    .champ-name-title-div{ // Champ name and title div
      max-width: 100%;
      #champ-name{
        @include font-styles($second-font, 2.5rem ,$font-color);  // font config
      }
    
      #champ-title{
        @include font-styles($main-font, 1.2rem ,$font-color);  // font config
      }
    }

    .champ-stats{
      @include font-styles($main-font, 1.2rem ,$font-color);
    }
  
}

  
}

@media (min-width:1441px) {
  .d-grid{
    .champ-main-info{
      grid-template-columns: 1fr 5fr;
  
      #champ-img{ // Champ image
        width: 11rem;
        height: 11rem;  
      }
      .champ-name-title-div{ // Champ name and title div
        max-width: 100%;
        #champ-name{
          font-size: 3.5rem 
        }
      
        #champ-title{
          font-size: 1.7rem 
        }
      }
  
      .champ-stats{
        font-size: 1.7rem
      }    
  }
  
    .champ-extra-info{
      max-height: 5.1rem;
      transition: max-height 1.5s ease;  
  
      .h3{
        font-size: 2.7rem; 
        
        &::after{
          height: 2.7rem;
          width: 2.7rem;
        }
      }
  
      p{
        font-size: 1.6rem;
      }
    }
  }
}

@media (max-width: 1124px) {
  .d-grid{
    grid-template-columns: 1fr;
    .champ-main-info{
      grid-template-columns: 1fr 5fr;
  
      #champ-img{ // Champ image
        width: 8rem;
        height: 8rem;  
      }
      .champ-name-title-div{ // Champ name and title div
        #champ-name{
          font-size: 2.8rem;
        }
      
        #champ-title{
          font-size: 1.4rem;
        }
      }
  
      .champ-stats{
        font-size: 1.35rem
      }
    
      .champ-extra-info{
  
        .h3{
          font-size: 2rem;
          
          &::after{
            height: 1.7rem;
            width: 1.7rem;
          }
        } 
      }
    }
  }
}

@media (max-width: 425px){
  .headline-text{
    font-size: 2.25rem;
  }

  .d-grid{
    .champ-main-info{
      #champ-img{ // Champ image
        width: 5rem;
        height: 5rem;  
      }
      .champ-name-title-div{ // Champ name and title div
        #champ-name{
          font-size: 2rem;
        }
      
        #champ-title{
          font-size: 1rem;
        }
      }
  
      .champ-stats{
        font-size: 1rem
      }    
    }
  }
}

@media (max-width: 360px){
  .d-grid{
    .champ-main-info{
      #champ-img{ // Champ image
        width: 4rem;
        height: 4rem;  
      }
      .champ-name-title-div{ // Champ name and title div
        

        #champ-name{
          font-size: 1.7rem;
        }
      
        #champ-title{
          font-size: .8rem;
        }
      }
  
      .champ-stats{
        font-size: .9rem;
        img{
          width: 3rem;
        }
      }
    }
  }
}