<app-header [currentPage]="'champ-details'"></app-header>
<app-loader *ngIf="!champData && !getError; else getResponseError"></app-loader>
<ng-template #getResponseError>
  <div class="error-block" *ngIf="getError; else champInfo">
    <p>
      Problemas ao renderizar arquivos, tente novamente mais tarde
    </p>
  </div>
</ng-template>
<ng-template #champInfo>
  <div class="container py-4" >
    <h2 class="h2 text-center mb-4" id="headline-text">Champion information</h2>
    <div class="d-grid gap-3">
      <!-- Initial info, name, title and image -->
      <div class="champ-main-info d-flex flex-wrap row-gap-4 column-gap-3 p-3 rounded">
        <!-- Champ image -->
        <img id="champ-img" class="rounded" [src]="formatChampionImage(champData.id)" alt="{{champData.name}}-image">
        <!-- champ name and title div to use d-flex -->
        <div class="champ-name-title-div">
          <h3 id="champ-name">{{champData.name}}</h3>
          <span id="champ-title">{{champData.title}}</span>
        </div>
        <div class="champ-stats d-flex flex-column gap-2">
          <!-- Champ dependenci to use spells -->
          <div class="champ-stats-item">
            <span>
              Dependency/Use:
            </span>
            <span id="champ-dependencies">
              {{champData.partype}}
            </span>
          </div>
          <!-- Champ style, like a mage, tank... -->
          <div class="champ-stats-item">
            <span>
              Play style:
            </span>
            <span id="champ-type">
              {{champData.tags}}
            </span>
          </div>
          <!-- Champ spells -->
          <div class="champ-stats-item skills-div d-flex flex-column gap-2 mt-4">
            <app-champ-abilities [isPassive]="true" [passive]="champData.passive">
              
            </app-champ-abilities>
            <app-champ-abilities
            *ngFor="let spells of champData.spells"
            [spell]="spells"
            ></app-champ-abilities>
            <!-- Champ spells end -->
          </div>
        </div>
      </div>
      <!-- Champ history (lore) -->
  
      <div class="extra-info d-flex row-gap-3 flex-column">
        <app-champ-extra-info 
        *ngFor="let extraData of extraDataInfoArray"
        [extraInfoData]="extraData"
        ></app-champ-extra-info>
      </div>
    </div>
  </div>
</ng-template>